<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="../../../static/customer/contact.css" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="contact">About Us</h1>
<p>Hi pls the sch have resume partially</p>
<p>Pls note this are the people staff is attending to temporarily</p>
<p>1) Student who want to come and collect matric number</p>
<p>2) final clearance student/ graduating student</p>

 <a href="{% url 'password_reset' %}">Reset</a>

</body>
</html>
